body{
    background:#E0E0E0;
}
.row{
    position: relative;
    top: 200px;
    
}

.details {
            border: 1.5px solid grey;
            color: #212121;
            width: 100%;
            height: auto;
            box-shadow: 0px 0px 10px #212121;
        }

        .cart {
            background-color: #212121;
            color: white;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 900;
            width: 100%;
            height: 39px;
            padding-top: 9px;
            box-shadow: 0px 5px 10px  #212121;
            position: relative;
        }

        .card {
            width: fit-content;
        }

        .card-body {
            width: fit-content;
            position: relative;
            width: 244px;
        }

        .btn {
            border-radius: 0;
        }

        .img-thumbnail {
            border: none;
        }

        .card {
            border-radius: 27px;
            background: #ffffff;
            box-shadow:  36px 36px 71px #141414,
                         -36px -36px 71px #ada8a8;
        }